/* Write code for your CSS here */
.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Hero {
  font-size: 25px;
  margin-bottom: 50px;
}

.Skills {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.skill-name {
  background-color: aqua;
  color: black;
  font-size: 25px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 12px;
}

.About {
  font-size: 25px;
  width: 50%;
}
